.star {
	margin-right:5px;
}

.fill {
	fill: var(--primary);
}

.editable {
	cursor: pointer;
}

.error svg {
	stroke: var(--red);
}

.ratingWrapper {
	position: relative;
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	right: 68px;
	color: var(--red);
	text-wrap: nowrap;
}